@import '../../styles/mixins';

.nav {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-flow: nowrap;

  padding: 12px;
  border-radius: 12px;
  background-color: transparent;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: -0.1px;
  cursor: pointer;

  @include adaptive-for-mobile {
  }

  :global(#base.dark) & {
    color: #ffffff;

    &.active {
      color: #ff9900;
      background: #36454f;
    }
  }

  :global(#base.light) & {
    color: rgba(0, 0, 0, 0.56);

    &.active {
      color: #21ba72;
      background: #36454f;
    }
  }
}
