@import 'src/styles/common';
@import 'src/styles/mixins';

.page {
  display: flex;
  flex-grow: 1;
  min-height: 100vh;

  &[class~="dark"] {
    background: rgba(0,0,0,.92);

    & > .content {
      background: #000000;
    }
  }
}

.content {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: $max-content-width;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  background: #ffffff;
}

.settingsPanel {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 50;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:  50% 0 0 0;
  background: rgba(169, 169, 169, 0.8);

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    & svg {
      width: 24px;
      height: 24px;
    }
  }

  & > * {
    opacity: .7;
    & svg path {
      fill: #000000;
    }
  }
}
