@import 'src/styles/mixins';

.page {
  display: flex;
  flex-grow: 1;
  min-height: 100vh;

  .content {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: $max-content-width;
    min-height: 100%;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    background: #ffffff;

    & > .buttonsBlock {
      position: fixed;
      bottom: 54px;
      right: 16px;
      z-index: 50;
      box-sizing: border-box;
      width: auto;
      display: flex;
      flex-flow: column;
      gap: 12px;
      align-items: center;

      @include adaptive-for-mobile {
        bottom: 24px;
      }

      & > * {
        opacity: .7;
        & svg path {
          fill: #000000;
        }
      }
    }
  }

  &[class~="dark"] {
    background: rgba(0,0,0,.92);

    & > .content {
      background: #000000;
    }
  }
}
