@import 'src/styles/common';
@import 'src/styles/mixins';

.page {
  display: flex;
  flex-grow: 1;
  min-height: 100vh;

  &[class~="dark"] {
    background: rgba(0,0,0,.92);

    & > .content {
      background: #000000;
    }
  }
}

.content {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: $max-content-width;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  background: #ffffff;
}
