@import '../../styles/mixins';

.header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 50;
  height: 76px;
  width: 100%;
  max-width: $max-content-width;
  padding: 16px 32px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background-color: inherit;

  @include adaptive-for-mobile {
    height: 68px;
    padding: 8px 16px;
  }
}

.slots {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 25px;
}
