.panel {
  box-sizing: border-box;
  position: sticky;
  top: 92px;
  left: 0;
  width: 64px;
  height: calc(100vh - 120px);
  padding-bottom: 32px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
}

.section {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 8px;
  color: #c0c0c0;
  background: #744a09;
  cursor: pointer;
}

.sign {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  color: #7f7f7f;
  cursor: pointer;
}
