@import '../../styles/mixins';

.page {
  box-sizing: border-box;
  width: 100%;
  padding: 16px $side-offset 20px;
  display: flex;
  flex-grow: 1;
  gap: 16px;

  @include adaptive-for-mobile {
    padding: 0 8px 8px 0;
  }
}

.content {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  padding: 16px 16px 120px 0;
  margin: 0 auto;
}

.header {
  margin-bottom: 32px;
  color: #000000;

  :global(#base.dark) & {
    color: #ff9900;
  }
}

.list {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: fit-content;
  max-width: 100%;
  gap: 32px;
  column-count: 3;

  & > .text {
    display: flex;
    align-items: center;
    color: mediumblue;
    cursor: pointer;
    text-align: left;

    :global(#base.dark) & {
      color: deepskyblue;
    }

    & > .icon {
      width: 18px;
      height: 18px;
      margin-left: 8px;
    }
  }
}
