@import '../../styles/mixins';

.content {
  box-sizing: border-box;
  width: 100%;
  padding: 8px $side-offset 20px;
  display: flex;
  flex-grow: 1;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 16px;

  @include adaptive-for-mobile {
    padding: 8px;
  }
}

.list {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 32px;
  column-count: 1;

  & > .text {
    color: mediumblue;
    cursor: pointer;
    text-align: left;

    :global(#base.dark) & {
      color: deepskyblue;
    }
  }
}

.author {
  color: #ffffff;

  &.active {
    color: #ff9900;
  } 
}
