@import '../../styles/mixins';

.content {
  box-sizing: border-box;
  width: 100%;
  padding: 16px $side-offset 20px 0;
  display: flex;
  flex-grow: 1;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 16px;

  @include adaptive-for-mobile {
    padding: 0 8px 8px 0;
  }
}

.list {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  padding: 16px 16px 120px 0;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 32px;
  column-count: 1;
  overflow-y: auto;

  & > .text {
    color: mediumblue;
    cursor: pointer;
    text-align: left;

    :global(#base.dark) & {
      color: deepskyblue;
    }
  }
}

.author {
  color: #000000;

  &.active {
    color: #ff6600;
  }

  :global(#base.dark) & {
    color: #ffffff;

    &.active {
      color: #ff9900;
    }
  }
}

.emptyListError {
  padding-top: 32px;
  font-size: 20px;
  line-height: 1.5;
  font-style: italic;
  white-space: pre-wrap;
  color: #000000;

  :global(#base.dark) & {
    color: lightgrey;
  }
}
